/*CSS Doc */

body{
    direction: ltr;
    background: aliceblue;
    font-family: "American Typewriter";
    font-size: medium;
    color: black;
}
h1{
    font-family: "American Typewriter";
    font-style: italic;
    color: black;
    font-size: 45px;
    text-align: center;
}
img{
    float: bottom;
}
a{
    text-decoration: none;
    color: black;
}